services:
  db:
    image: postgres:15-alpine
    container_name: bizi_db_local
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  web:
    build: .
    container_name: bizi_web
    # Como montamos ./src en /app, manage.py está en la raíz
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  monitor:
    build: .
    container_name: bizi_monitor
    # Igual aquí, manage.py está en la raíz
    command: python manage.py iniciar_monitor
    volumes:
      - ./src:/app
    env_file:
      - .env
    depends_on:
      - db
      - web
    dns:
      - 8.8.8.8
      - 8.8.4.4

volumes:
  postgres_data: