services:
  db:
    image: postgres:15-alpine
    container_name: bizi_db
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  web:
    build: .
    container_name: bizi_web
    # --- CAMBIO IMPORTANTE ---
    # Hemos borrado 'command:'. Ahora el Dockerfile y entrypoint.sh deciden qué ejecutar.
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  monitor:
    build: .
    container_name: bizi_monitor
    # Aquí SÍ mantenemos el command porque queremos ejecutar una tarea específica
    # y no el servidor web.
    command: python manage.py iniciar_monitor
    volumes:
      - ./src:/app
    env_file:
      - .env
    depends_on:
      - db
      - web
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4

volumes:
  postgres_data: